@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.body1 {
    background: #111;
}



.title {
    font-family: "Lexend Exa";
    color: white;
    font-size: 60px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}

.glassbutton {
    padding: 30px 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(5px);
    color: white;
    transition: all 0.3s ease;
    font-family: "Lexend Exa";
    width: 30%;
    text-decoration: none;
    cursor:pointer;
    animation: fadeIn 1s ease-in-out;
}

.subheading {
  font-family: "Lexend Exa";
  letter-spacing: -2px;
  text-align: center;
  color: white;
  margin-top: -10px;
  font-size: 16px;
  animation: fadeIn 1s ease-in-out;
  font-weight: lighter;
}

.glassbutton:hover {
    transform: scale(1.02);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(255,255,255,0.3);
}


.glassbutton:active {
  transform: translateY(0);
}


.center-div {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  align-items: center;
}

.vertical-center {
  margin-top: 35vh;
}

.changelogbutton {
  display: flex;
  position: absolute;
  margin-top: -32.5vh;
  margin-left: 1lh;
  padding: 6px;
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.05);
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-family: "Lexend Exa";
  font-size: 14px;
  font-weight: lighter;
  animation: fadeIn 1s ease-in-out;
}



.changelogbox {
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.05);
  animation: fadeIn 1s ease-in-out;
  backdrop-filter: blur(5px);
  text-align: center;
  width: 35%;
  font-family: "Lexend Exa";
  font-weight: lighter;
  color: white;
  padding: 10px;
}

.changelogtitle {
  text-align: center;
  font-family: "Lexend Exa";
  color: white;
  animation: fadeIn 1s ease-in-out;
}

.returnbutton {
  border: 1px solid rgba(255,255,255,0.2);
  background: rgba(255,255,255,0.05);
  animation: fadeIn 1s ease-in-out;
  color: white;
  font-family: "Lexend Exa";
  font-weight: lighter;
  padding: 8px;
  position: absolute;
  display: flex;
  margin-left: 2vh;
  margin-top: -32.5vh;
  text-decoration: none;
  border-radius: 6px;
  transition: ease-in-out 0.2s;
}

.returnbutton:hover {
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.05);
  animation: fadeIn 1s ease-in-out;
  color: white;
  font-family: "Lexend Exa";
  font-weight: lighter;
  padding: 8px;
  position: absolute;
  display: flex;
  margin-left: 2vh;
  margin-top: -32.5vh;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
